.btn-group  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
    width: 100%;
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
  }
 .b-g{
    border: none;
     height: 30px;
     width: 100px;
     padding-left: 15px;

 }
  
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: black;
    color:white;
  }
  .title{
    font-family: Heebo;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 60px;
/* or 136% */


/* Dark Color */

color: #21243D;
}
img{
    width: 600px;
    height: 300px;
    margin-top: 50px;
    margin-right: 50px;

}



.f1{
    font-family: Heebo;
font-style: normal;
font-weight: normal;
font-weight: bold;
font-size: 22px;
line-height: 60px;
margin: 10px;
color: #21243D;

}



.bigFont{
    font-family: Heebo;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 38px;


color: #21243D;
}

.medFont{
    font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;


color: #21243D;
}

.smallFont{
    font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
color: #21243D;
width: 600px;
}


.Last_part{
    display: flex;
    flex-direction: column;


    padding-left: 100px;

    

    
}
.flex_row{
    display: flex;
    flex-direction: row;


    
}
.flex_row2{
    display: flex;
    flex-direction: row;


    
}

.flex_col{
    display: flex;
    flex-direction: column;
  


    
}
.flex_col2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.pic_text1{
    width: 70px;
    height: 25px;
       text-align: center;
 background: #FF7C7C;
 border-radius: 16px;
font-family: Heebo;
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 60px;

display: flex;
align-items: center;
padding-left: 30px;
margin-top: 30px;
color: #FFFFFF;
;
}
.pic_text2{
margin-top: 30px;
font-family: Heebo;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 29px;
padding-left: 10px;

/* Dark Color */

color: #21243D;
}
.line{
    height: 0px;
    border: 1px solid #E0E0E0;
margin-top: 10px;}

.pic_end{
 width: 30px;
height: 30px;
}

.copyRight_text{
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;    
    text-align: center;
    margin-right: 40px;
    color: #21243D;}


h1  {
    margin-bottom: 0px;
    /* or 200% */
    
    
    /* Dark Color */
    
    color: #21243D;}
    h2{margin-top: 5px;
        margin-bottom: 0px;
}


@media only screen and (max-width: 845px) {
    
    .f1{  text-align: left;
    }
    
    .flex_row{
        flex-direction: column;
        text-align: left;
    }
    .flex_col2{
padding-left: 300px;}
    .pic_end{
        width: 15px;
       height: 20px;
       }
      

       .pic_text2{width: 100%;}
    
  }